.form_container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--whiteColor);
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 3rem;
  text-align: center;
  text-transform: capitalize;
  color: var(--titleColor);
}

.form_group {
  position: relative;
  width: 32rem;
  margin: 3rem 0;
}

.form_group .icon,
.form_group label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.6rem;
  padding: 0 0.5rem;
  text-transform: capitalize;
  color: var(--labelColor);
  pointer-events: none;
  transition: all 0.5s ease;
}

.form_group .icon {
  left: 0.5rem;
}

.form_group label {
  left: 2.5rem;
}

.form_group input {
  width: 100%;
  height: 4rem;
  padding: 0 1rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  border: 0.1rem solid var(--labelColor);
  font-size: 1.6rem;
  color: var(--labelColor);
  background: transparent;
}

.form_group input:focus ~ label,
.form_group input:valid ~ label,
.form_group input:focus ~ .icon,
.form_group input:valid ~ .icon {
  top: 0 !important;
  font-size: 1.2rem !important;
  background-color: var(--whiteColor);
}
